/**
 * ===========================
 * Your Style Goes Here
 * ===========================
**/

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes moveleft {
    0% { margin-right: -15px; }
    100% { margin-right: 0; }
}

@keyframes moveright {
    0% { margin-right: 0; }
    100% { margin-right: -15px; }
}

body.start div.content {
    margin: 0;
    opacity: 0;
    animation: fadein 2s 0s forwards;
}


html, body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    overflow: hidden;
}

body > * {
    margin: 0;
}



#wdplogo {
    width: 702px;
    height: 384px;
    margin: 166px 287px;
    opacity: 1;
    animation: fadeout 2s 5s forwards;
}

.bgholder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}









section[data-menu="main"] {
    background-image: url('../img/scenes/main.jpg');
}

section[data-menu="main"] button {
    background: transparent url('../img/ui/btn.png');
    background-position-y: center;
    width: 450px;
    height: 105px;
    margin-top: -45px;
    margin-right: -90px;
    padding-top: 0;
    background-size: contain;
}