html, body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    overflow: hidden;
}

body > * {
    margin: 0;
}

a, a:hover {
    text-decoration: none;
    color: #ffffff;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes moveleft {
    0% {
        margin-right: -15px;
    }
    100% {
        margin-right: 0;
    }
}

@keyframes moveright {
    0% {
        margin-right: 0;
    }
    100% {
        margin-right: -15px;
    }
}

body.start div.content {
    margin: 0;
    opacity: 0;
    animation: fadein 2s 0s forwards;
}

#wdplogo {
    width: 702px;
    height: 384px;
    margin: 166px 287px;
    opacity: 1;
    animation: fadeout 2s 5s forwards;
}

.bgholder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

body.main .bgholder {
    background-image: url("../img/main.jpg");
    animation: fadein 3s;
}

body.main div.content {
    opacity: 0;
    margin: 0;
    padding: 0;
    height: 720px;
    width: 1280px;
    position: absolute;
    top: 0;
    left: 0;
    animation: fadein 3s 3s forwards;
}

ul {
    list-style-type: none;
}

body.options .bgholder {
    background-image: url('../img/main.jpg');
    animation: fadein 3s;
}

#head {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    background-color: #000000;
}

.sociallogo {
    width: 15px;
    margin-top: -3px;
}

#foot {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    background: #000000;
}

#menu {
    position: absolute;
    top: 50px;
    right: 0;
}

#menu li {
    background-image: url('../img/btn.png');
    width: 450px;
    height: 65px;
    margin-top: 20px;
    margin-right: -15px;
}

#menu li:hover {
    animation: moveleft 500ms 0 forwards;
}

#menu li:not(:hover) {
    animation: moveright 500ms 0 forwards;
}

#menu li .btn {
    width: 100%;
    height: 100%;
    margin-top: 12px;
    color: #000000;
}

#title {
    position: absolute;
    top: 200px;
    left: 50px;
}

body.options .content {
    width: 1240px;
    height: 680px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}

body.options .switch-light > span {
    min-height: 25px;
    height: 25px;
    width: 80px;
    line-height: 25px;
    display: inline-block;
    margin-top: 10px;
    vertical-align: bottom;
}

body.options .switch-toggle {
    width: 100px;
    display: inline-block;
    vertical-align: bottom;
}

body.options .switch-holo > span span, body.options .switch-holo label {
    line-height: 25px;
}